*{
    margin: 0;
    padding: 0;
}
#container{
    margin: 2px;
    width:792px;
    background-color: #eeeeee;
    border: 1px solid black;
    font-family: verdana, sans-serif;
    font-size: 12px;

}
/* left */
section>nav{
    float: left;
    width: 17%;
}
section img{
    margin-top: 20px;
}
section .home span{
    font-weight: bold;
}
section>nav{
    float:left;
    margin-left:3px;
}

nav ul{
    list-style: none;
    margin: 1em 0;
}
 nav ul li:first-child{
   font-weight: bold;
     color: #890000;
 }
 nav ul li a{
     text-decoration: none;
     color: black;
 }
nav ul li a:hover{
    text-decoration: underline;
    color: black;
}
 #last{
     margin-bottom: 0;
 }
/* center */
#content{
    /*width: 58%;*/
    box-sizing: border-box;
    width: 495px;
    border: 1px solid #adadad;
    float: left;
    margin: 2px 0;
    background-color: white;
    padding: 5px;
}
article a{
    color: #890000;
    line-height: 40px;
}
h1{
    display: block;
    margin: 10px 0;
}
.prevbtn{
    border:1px solid black;
    background-color: white;
    width: 100px;
    height: 19px;

}
.nextbtn{
    content:"";
    border:1px solid black;
    background-color: white;
    width: 100px;
    height: 19px;
}
.prevbtn::before{
    content:"";
    display:inline-block;
    width:0;
    height:0;
    border-right:5px solid black;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    float:left;
    margin-left:3px;
    margin-top:3px;
}
.nextbtn::after{
    content:"";
    display:inline-block;
    width:0;
    height:0;
    border-left:5px solid black;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    float:right;
    margin-right:4px;
    margin-top:3px;
}

header:after, footer:after, footer:before{
    content:"";
    display:block;
    width: auto;
    border-bottom: 2px solid #adadad;
    margin-top: 5px;
    margin-bottom:5px;
}
footer:last-of-type{
    margin-bottom: 38px;
}
section>article>img{
    float: left;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-right: 10px;

}
section>article>#first{
    font-weight: bold;

}
section>article>p{
    margin-top: 15px;
}
/* right */
aside{
    float: right;
    width: 20%;
}
aside input{
    width: 94px;
}
aside button #dot{
    font-weight: bold;
    height: 18px;
    width: 18px;
    border:1px solid #023d74;
    border-radius: 3px;
}
aside a{
    color: #890000;
}
aside>div{
    border: 1px solid #adadad;
    margin: 2px;
    background-color: white;
    padding-bottom: 4px;
    text-align: center;
}
h3{
    background-color:#808080 ;
    color: white;
    margin: 0 0 5px 0;
}
aside>div>div{
    padding: 4px;
}

 #style{

     display: block;
     height: 39px;
     font-size: 18px;
     color: #5bd2fd;
     border: 1px solid #8eb4d1;
     border-radius: 2px;
     margin: 0 auto;

     padding: 2px 15px;
     background: url(blueButton.gif) 0 0 no-repeat;

}
.clear{
    clear: both;
}