ul{
    list-style-type: none;
}

ul ul {
    display: none;
}

#first li ul a{
    color: #aeaeae;
}

ul li:hover > ul {
    display: block;
}

a, a:visited {
    text-decoration:none;
    color:black;
}

a:hover{
    text-decoration: underline;
}
